---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import CompatSection from '../components/CompatSection.astro';
import RulesSection from '../components/RulesSection.astro';
import CommandsSection from '../components/CommandsSection.astro';
import LifecycleSection from '../components/LifecycleSection.astro';
import CIGateSection from '../components/CIGateSection.astro';
import TrustSection from '../components/TrustSection.astro';
import FooterSection from '../components/FooterSection.astro';
---
<Base>
  <Nav />
  <main>
    <Hero />
    <CompatSection />
    <RulesSection />
    <CommandsSection />
    <LifecycleSection />
    <CIGateSection />
    <TrustSection />
  </main>
  <FooterSection />
</Base>
