---
interface Props {
  title: string;
  description: string;
  iconPath: string; /* SVG path data for Phosphor Light icon */
}
const { title, description, iconPath } = Astro.props;
---
<div class="value-card">
  <div class="value-card__icon" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256" fill="none">
      <path fill="currentColor" d={iconPath} />
    </svg>
  </div>
  <h3 class="value-card__title">{title}</h3>
  <p class="value-card__desc">{description}</p>
</div>
